<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Registration service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="wrapper">
    <div th:replace="blocks/header :: header"></div>
    <div class="main">
        <h1 th:text="${test}"></h1>
        <div class="main-title"><h2>Добро пожалововать в Тестовый Сервис Регистрации Автомобилей!</h2></div>
        <div class="main-content">
            <div class="main-page-cards">
                <a class="main-page-card" href="vehicles.html">
                    <h3>Автомобили</h3>
                    <p>Просмотреть интерактивный список зарегистрированных автомобилей</p>
                </a>
                <a class="main-page-card" href="users">
                    <h3>Клиенты</h3>
                    <p>Просмотреть интерактивный список зарегистрированных клиентов</p>
                </a>
                <a class="main-page-card" href="/models">
                    <h3>Модели</h3>
                    <p>Просмотреть интерактивный список существующих моделей</p>
                </a>
                <a class="main-page-card" href="/brands">
                    <h3>Бренды</h3>
                    <p>Просмотреть интерактивный список существующих брендов</p>
                </a>
            </div>
        </div>
    </div>
    <div th:replace="blocks/footer :: footer"></div>
</div>
</body>
</html>