<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Registration service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{blocks/header :: header}"></div>
    <div class="main">
        <div class="main-title"><h2>Добро пожалововать в Тестовый Сервис Регистрации Автомобилей!</h2></div>
        <div class="main-content">
            <div class="main-page-cards">
                <a class="main-page-card" href="vehicles">
                    <h3>Автомобили</h3>
                    <p>Просмотреть интерактивный список зарегистрированных автомобилей</p>
                </a>
                <a class="main-page-card" href="users">
                    <h3>Клиенты</h3>
                    <p>Просмотреть интерактивный список зарегистрированных клиентов</p>
                </a>
                <a class="main-page-card" href="/add_user">
                    <h3>Добавить клиента</h3>
                    <p>Добавить нового клиента в систему регистрации</p>
                </a>
                <a class="main-page-card" href="/add_vehicle">
                    <h3>Добавить автомобиль</h3>
                    <p>Добавить новый автомобиль в систему регистрации</p>
                </a>
            </div>
        </div>
    </div>
    <div th:replace="~{blocks/footer :: footer}"></div>
</div>
</body>
</html>