<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Registration service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{blocks/header :: header}"></div>
    <div class="main">
        <div class="main-title"><h2>Зарегистрированнные клиенты</h2></div>
        <div class="main-content">
            <div class="items-list">
                <div th:each="user : ${userDTOS}" class="item" onclick="location.href='user?passport_number=${user.passportNumber}'">
                    <h3 th:text="${user.getFullName()}" class="item-title">Иванов Иван Иванович</h3>
                    <div class="prompts">
                        <p th:text="${'Номер паспорта: ' + user.passportNumber}">Номер паспорта: 4620111111</p>
                        <p class="prompts-title">Во владении:</p>
                        <div th:with="have_vehicles = ${user.vehicleDTOS.size() != 0}" class="elements-list">
                            <a th:if="${have_vehicles}" th:each="vehicle : ${user.vehicleDTOS}" class="element" href="/vehicle">
                                <p th:text="${vehicle.getBrandAndModel()}">[Null]</p>
                            </a>
                            <p th:unless="${have_vehicles}" class="no-elements">Зарегистрированные автомобили отсутствуют</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="footer-title">Spring Pet Project [yes-training]</p>
        <p class="footer-title">2023, Илья Брыкин</p>
    </div>
</div>
</body>
</html>