<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Registration service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{blocks/header :: header}"></div>
    <div class="main">
        <div class="main-title"><h2 th:text="${userDTO.getFullName()}">[Full name]</h2></div>
        <div class="main-content">
            <div class="description">
                <p class="description-element" th:utext="'<b>Номер паспорта:</b> ' + ${userDTO.passportNumber}">
                    <b>Номер паспорта:</b> [None]
                </p>
                <p class="description-element" th:utext="'<b>Фамилия:</b> ' + ${userDTO.surname}">
                    <b>Фамилия:</b> [None]
                </p>
                <p class="description-element" th:utext="'<b>Имя:</b> ' + ${userDTO.name}">
                    <b>Имя:</b> [None]
                </p>
                <p class="description-element" th:utext="'<b>Отчество:</b> ' + ${userDTO.patronymic}">
                    <b>Отчество:</b> [None]
                </p>
                <div class="description-list">
                    <h3 class="description-title">Во владении:</h3>
                    <div th:with="have_vehicles = ${userDTO.vehicleVins.size() != 0}" class="elements-list">
                        <a th:if="${have_vehicles}" th:each="vehicleVin : ${userDTO.vehicleVins}" class="element" th:href="@{/vehicle(vin=${vehicleVin})}">
                            <p th:text="${vehicleController.getBrandAndModelByVehicleVin(vehicleVin)}">[Null]</p>
                        </a>
                        <p th:unless="${have_vehicles}" class="no-elements">Зарегистрированные автомобили отсутствуют</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{blocks/footer :: footer}"></div>
</div>
</body>
</html>