<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style/style.css">
    <title>Registration service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <a class="header-title" href="home.html">ТСРА</a>
        <div class="header-options">
            <a class="header-option" href="users.html">Клиенты</a>
            <a class="header-option" href="vehicles.html">Автомобили</a>
            <a class="header-option" href="/vehicles">Добавить клиента</a>
            <a class="header-option" href="/vehicles">Добавить автомобиль</a>
            <a class="header-option" href="/vehicles">Добавить владение</a>
        </div>
    </div>
    <div class="main">
        <div class="main-title"><h2>Зарегистрированнные автомобили</h2></div>
        <div class="main-content">
            <div class="items-list">
                <div class="item">
                    <h3 class="item-title">BMW M3</h3>
                    <div class="prompts">
                        <p>VIN-номер: 23629137297232</p>
                        <p class="prompts-title">Владельцы:</p>
                        <div class="elements-list">
                            <a class="element" href="/user">
                                <p>Валерьев А.Д.</p>
                            </a>
                            <a class="element" href="/user">
                                <p>Балабаев А.Д.</p>
                            </a>
                            <a class="element" href="/user">
                                <p>Балабаев А.Д.</p>
                            </a>
                            <a class="element" href="/user">
                                <p>Балабаев А.Д.</p>
                            </a>
                            <a class="element" href="/user">
                                <p>Балабаев А.Д.</p>
                            </a>
                            <a class="element" href="/user">
                                <p>Балабаев А.Д.</p>
                            </a>
                            <a class="element" href="/user">
                                <p>Балабаев А.Д.</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h3 class="item-title">Changan UNI-K</h3>
                    <div class="prompts">
                        <p>VIN-номер: 236291372977382</p>
                        <p class="prompts-title">Владельцы:</p>
                        <div class="elements-list">
                            <a class="element">
                                <p>Дмирев А.Д.</p>
                            </a>
                            <a class="element">
                                <p>Балабаев А.Д.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="footer-title">Spring Pet Project [yes-training]</p>
        <p class="footer-title">2023, Илья Брыкин</p>
    </div>
</div>
</body>
</html>