<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title th:text="${title}">[Null]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="wrapper non-scroll">
    <div th:replace="~{blocks/header :: header}"></div>
    <div class="main form-widht">
        <div class="main-title"><h2 th:text="${mainTitle}">[Brand Model]</h2></div>
        <div class="main-content">
            <div class="description">
                <p class="description-element" th:utext="'<b>VIN-номер:</b> ' + ${vehicleDTO.vin}">
                    <b>VIN-номер:</b> [None]
                </p>
                <p class="description-element" th:utext="'<b>Бренд:</b> ' + ${vehicleController.getBrandByVehicleVin(vehicleDTO.vin).name}">
                    <b>Бренд:</b> [None]
                </p>
                <p class="description-element" th:utext="'<b>Модель:</b> ' + ${vehicleController.getModelByVehicleVin(vehicleDTO.vin).name}">
                    <b>Модель:</b> [None]
                </p>
                <div class="description-list">
                    <h3 class="description-title">Владельцы:</h3>
                    <div th:with="have_users = ${vehicleDTO.passportNumbers.size() != 0}" class="elements-list">
                        <a th:if="${have_users}" th:each="passportNumber : ${vehicleDTO.passportNumbers}" class="element" th:href="@{/user(passport_number=${passportNumber})}">
                            <p th:text="${userController.getUserInitials(passportNumber)}">[Null]</p>
                        </a>
                        <p th:unless="${have_users}" class="no-elements">Зарегистрированные владельцы отсутствуют</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{blocks/footer :: footer}"></div>
</div>
</body>
</html>